.intro h2 {
    font-size: 1.8em;
    margin-top: 5px;
    margin-bottom: 10px;
}

.intro .star {
    color: #ffcc00;
}

.intro p {
    color: #8a8a8e;
    line-height: 1.6;
}

.feature-card {
    padding: 0;
    overflow: hidden;
}

.feature-card img {
    width: 35%;
    height: 100%;
    object-fit: cover;
    float: left;
}

.feature-card .card-content {
    float: left;
    width: 65%;
    box-sizing: border-box;
    padding: 20px;
}

.feature-card::after {
    content: "";
    display: table;
    clear: both;
}

.feature-card h4 {
    color: #8a8a8e;
    text-transform: uppercase;
    font-size: 0.8em;
    margin: 0 0 5px 0;
}

.feature-card h3 {
    margin: 0 0 10px 0;
    font-size: 1.5em;
}

.feature-card p {
    color: #8a8a8e;
    line-height: 1.5;
    margin-bottom: 20px;
}
